
<style type="text/css">
    button.groupingItem {
        border: solid 2px gray;
        border-radius: 8px;
        margin-right: 5px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        padding: 0;
    }

        button.groupingItem > div.row:first-child {
            line-height: 125px;
        }

        button.groupingItem > div.row:nth-child(2) {
            line-height: 45px;
        }

    div.leftCardContent > i {
        font-size: 3em;
    }

    .centeredContent {
        width: 100%;
        text-align: center;
    }

    div.leftCardContent {
        padding-right: 0;
        border-right: solid 1px green;
        margin-top: 10px;
    }

    div.rightCardContent {
        padding-left: 0;
        border-left: solid 1px green;
        margin-top: 10px;
    }

    div#NewGroupingModal .groupingIcon {
        font-size: 3em;
    }

    div#NewGroupingModal .form-check-label {
        font-weight: bold;
        padding-left: 0;
        border: solid 2px transparent;
        width: 100%;
        border-radius: 60px;
    }
    div#NewGroupingModal .selected {
        border-color: green;
    }

    button.selectedGrouping {
        border-color: black;
        background-color: lightseagreen;
    }

</style>

<script type="text/javascript">
    $(document).ready(function () {
        getContent($("div#MyItems"), "/jode/ItemContent"); 
    });

    function groupingClicked(groupClicked) {
        try {
            if (groupClicked > 0) { getContent($("div#MyItems"), "/jode/ItemContent");  return; };
            $("div#NewGroupingModal").modal("show");

        } catch (e) {
            logError("groupingClicked", e);
        };
    }

    function updateClass(chkBox) {
        try {
            $("div#NewGroupingModal .selected").removeClass("selected"); // Remove all selected classes.

            const myBox = $(chkBox);
            if (myBox.is(":checked")) {
                myBox.parent().addClass("selected");
            };

        } catch(e) {
            logError("updateClass", e);
        }
    }

    function saveNewGroup() {
        try {
            alert("Saving new grouping...")

        } catch (e) {
            logError("saveNewGroup", e);
        }
    }
</script>

<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 draggable" style="margin-bottom:20px;">
        <button class="btn btn-secondary groupingItem" onclick="groupingClicked(-1);">
            <div class="row">
                <span class="centeredContent">
                    <i class="fa fa-plus" aria-hidden="true" style="font-size:5em;"></i>
                </span>
            </div>
            <div class="row">
                <span class="centeredContent">
                    New Grouping
                </span>
            </div>
        </button>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 draggable" style="margin-bottom:20px;">
        <button class="btn btn-secondary groupingItem selectedGrouping" onclick="groupingClicked(1);">
            <div class="row">
                <div class="col leftCardContent">
                    <i class="fas fa-car"></i>
                </div>
                <div class="col rightCardContent">
                    63
                </div>
            </div>
            <div class="row">
                <span class="centeredContent">
                    Automotive
                </span>
            </div>
        </button>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 draggable" style="margin-bottom:20px;">
        <button class="btn btn-secondary groupingItem" onclick="groupingClicked(2);">
            <div class="row">
                <div class="col leftCardContent text-center">
                    <i class="fas fa-utensils"></i>
                </div>
                <div class="col rightCardContent">
                    12
                </div>
            </div>
            <div class="row">
                <span class="centeredContent">
                    Food
                </span>
            </div>
        </button>
    </div>

</div>

<div class="sectionTitle">Groupings</div>

<div class="modal" tabindex="-1" role="dialog" id="NewGroupingModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Grouping</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-right:0;">
                    <label class="col-4" for="GroupName">Name</label>
                    <input class="col-8 form-control" type="text" id="GroupName" placeholder="Group Name" maxlength="128" required>
                </div>

                <div class="row" style="margin-top:15px;">
                    <div class="col-3 form-check text-center">
                        <label class="form-check-label" for="Grouping_Car">
                            <i class="fas fa-car groupingIcon" aria-hidden="true"></i>
                            <br />
                            <input class="form-check-input" type="radio" name="GroupIcon"  value="fas fa-car" 
                                   id="Grouping_Car" onchange="updateClass(this);">
                            Car
                        </label>
                    </div>
                    <div class="col-3 form-check text-center">
                        <label class="form-check-label" for="Grouping_Pet">
                            <i class="fas fa-paw groupingIcon" aria-hidden="true"></i>
                            <br />
                            <input class="form-check-input" type="radio" name="GroupIcon"  value="fas fa-paw" 
                                   id="Grouping_Pet" onchange="updateClass(this);">
                            Pet
                        </label>
                    </div>
                    <div class="col-3 form-check text-center">
                        <label class="form-check-label" for="Grouping_Chemicals">
                            <i class="fas fa-oil-can groupingIcon" aria-hidden="true"></i>
                            <br />
                            <input class="form-check-input" type="radio" name="GroupIcon"  value="fas fa-oil-can" 
                                   id="Grouping_Chemicals" onchange="updateClass(this);">
                            Chemicals
                        </label>
                    </div>
                    <div class="col-3 form-check text-center">
                        <label class="form-check-label" for="Grouping_Papergoods">
                            <i class="fas fa-toilet-paper groupingIcon" aria-hidden="true"></i>
                            <br />
                            <input class="form-check-input" type="radio" name="GroupIcon"  value="fas fa-toilet-paper" 
                                   id="Grouping_Papergoods" onchange="updateClass(this);">
                            Paper Goods
                        </label>
                    </div>
                    <div class="col-3 form-check text-center">
                        <label class="form-check-label" for="Grouping_Tools">
                            <i class="fas fa-tools groupingIcon" aria-hidden="true"></i>
                            <br />
                            <input class="form-check-input" type="radio" name="GroupIcon"  value="fas fa-tools" 
                                   id="Grouping_Tools" onchange="updateClass(this);">
                            Tools
                        </label>
                    </div>
                    <div class="col-3 form-check text-center">
                        <label class="form-check-label" for="Grouping_People">
                            <i class="fas fa-user-friends groupingIcon" aria-hidden="true"></i>
                            <br />
                            <input class="form-check-input" type="radio" name="GroupIcon"  value="fas fa-user-friends" 
                                   id="Grouping_People" onchange="updateClass(this);">
                            People
                        </label>
                    </div>
                    <div class="col-3 form-check text-center">
                        <label class="form-check-label" for="Grouping_Fruit">
                            <i class="fas fa-apple-alt groupingIcon" aria-hidden="true"></i>
                            <br />
                            <input class="form-check-input" type="radio" name="GroupIcon"  value="fas fa-apple-alt" 
                                   id="Grouping_Fruit" onchange="updateClass(this);">
                            Fruit
                        </label>
                    </div>
                    <div class="col-3 form-check text-center">
                        <label class="form-check-label" for="Grouping_Wine">
                            <i class="fas fa-wine-bottle groupingIcon" aria-hidden="true"></i>
                            <br />
                            <input class="form-check-input" type="radio" name="GroupIcon"  value="fas fa-wine-bottle" 
                                   id="Grouping_Wine" onchange="updateClass(this);">
                            Wine
                        </label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                    <i class="fas fa-window-close" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-primary" onclick="saveNewGroup();">
                    Save changes
                    <i class="fas fa-check" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>