
<style type="text/css">
    
</style>

<script type="text/javascript">
    var draggableApplied = false;

    $(document).ready(function () {
        getContent_Append($("div#ItemCardRow"), "/jode/ItemContent/ItemCard/Buick Lesabre/4/fas fa-car-side/darkolivegreen");
        getContent_Append($("div#ItemCardRow"), "/jode/ItemContent/ItemCard/1969 Ford Mustang/5/fas fa-car-side/aqua");
        getContent_Append($("div#ItemCardRow"), "/jode/ItemContent/ItemCard/Package Truck/2/fas fa-truck-moving/rebeccapurple");
        getContent_Append($("div#ItemCardRow"), "/jode/ItemContent/ItemCard/Another Item/1/fas fa-address-book/green");
        getContent_Append($("div#ItemCardRow"), "/jode/ItemContent/ItemCard/People One/1/fas fa-user-shield/red");
        getContent_Append($("div#ItemCardRow"), "/jode/ItemContent/ItemCard/People Two/5/fas fa-user-shield/blue");
        getContent_Append($("div#ItemCardRow"), "/jode/ItemContent/ItemCard/People Three/4/fas fa-user-shield/gray");
    });

    function changeRating(clickedStar) {
        let parentRow = clickedStar.parents("div.card-footer");

        clickedStar.find("i").data("original", "fas");  // Set the original class to selected.
        clickedStar.prevAll().find("i").data("original", "fas");  // Set all previous original classes to selected.
        clickedStar.nextAll().find("i").data("original", "far");  // Set all next original classes to not selected.

        updateItemIcons(parentRow);
    }

    function checkDraggableEnabled() {
        if (!draggableApplied) {
            $("div.draggable").draggable();
            $("div.sortable").sortable({ revert: true });
            draggableApplied = true;
        };
    }

    function configItem(itemTitle) {
        let modalWindow = $("div#ConfigureItemModal");
        modalWindow.modal("show");
        modalWindow.find(".modal-title").text("Configure " + itemTitle);
        getContent($("div#ConfigureItemModal").find("div.modal-body"), "/jode/ItemContent/ItemConfigureModal/5");
    }

    function ratingMousedOver(currentStar) {
        let previousStars = currentStar.prevAll();  // Get all the previous star buttons.
        currentStar.find("i").removeClass("far").addClass("fas ratingHover");  // Make this one selected
        previousStars.find("i").removeClass("far").addClass("fas ratingHover");  // Make all previous selected.
    }

    function ratingMousedOut(currentStar) {
        let parentRow = currentStar.parents("div.card-footer");
        let allStars = parentRow.find("i.fa-star");
        for (i = 0; i < allStars.length; i++) {
            let loopStar = $(allStars[i]);
            let originalClass = loopStar.data("original");  // Get the original class which was on the star.
            loopStar.removeClass("fas ratingHover").addClass(originalClass);
        };

        updateItemIcons(parentRow);
    }

    function updateItemIcons(parentRow) {
        let allStars = parentRow.find("i.fa-star");

        for (i = 0; i < allStars.length; i++) {
            let loopStar = $(allStars[i]);
            let originalClass = loopStar.data("original");  // Get the original class which was on the star.
            loopStar.removeClass("fas far ratingHover").addClass(originalClass);
        };
    }

</script>

<div class="row sortable" style="padding-bottom:10px;" id="ItemCardRow" onmouseover="checkDraggableEnabled();">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 draggable">
        <button class="card itemContainer" onclick="itemClicked(-1);">
            <div class="card-header">
                <span class="centeredContent">
                    New Item
                </span>
            </div>
            <div class="card-body itemBody">
                <div class="row">
                    <span class="centeredContent">
                        <i class="fa fa-plus" aria-hidden="true" style="font-size:5em;"></i>
                    </span>
                </div>
            </div>
        </button>
    </div>
     
    <!--The rest of the items will be added on page load...-->
</div>

<div class="sectionTitle">Items</div>

<div class="modal" tabindex="-1" role="dialog" id="ConfigureItemModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configure Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
