
<style type="text/css">
</style>

<script type="text/javascript">
</script>


<p>This is where we will have the ability to configure an item.  We need to be able to delete an item, change it's grouping, mark it as lent out, increase the quantity, and 
do random other things like that...</p>
