<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Jode Application</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <style type="text/css">
        div.groupingContent {
            background-color:aqua;
            padding: 2em;
            color:darkgreen;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $("div#TestContent").text('Replaced the text!');

            getContent();
        });

        function getContent() {
            var response = '';
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/jode/GroupingContent",
                async: false,
                success: function (text) {
                    response = text;
                }
            });

            alert(response);
        };
    </script>
</head>
<body>
    <div class="class="container-fluid">
        <div class="row">
            <div class="col">
                One
            </div>
            <div class="col">
                Two
            </div>
            <div class="col">
                Three
            </div>
            <div class="col">
                Four
            </div>
            <div class="col">
                Give
            </div>
            <div class="col">
                Six
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                Here is my main content!
                <div class="row">
                    <div id="TestContent" class="col-6">
                        Left side, Initial Text!
                    </div>
                    <div class="col=6">
                        Right Side
                    </div>
                </div>
            </div>
            <div class="col-2">
                Sidebar!
            </div>
        </div>

    </div>
    
</body>
</html>